*{
  margin: 0;
  padding: 0;
}

/***************************************************************** Estilos aplicables en varias partes */

p{
  margin: 10px 0px;
}

.container{
  margin: 30px;
}

h1,h2,h3,h4{
  margin: 10px 0px;
  color: #ecc032 ;
}


.coloredSection{
  background: #eeebf5;
  padding: 10px 0px ;
}


hr{
  width: 100%;
  margin: 10px 0px;
}

.italic{
  font-style: italic;
}

.title{
  text-align: center;
  color: whitesmoke
  
}


.linkRedMore{
  color: #fe043c;
}

.column{
  width: 50%;
}

img{
  width: 100%;
}

.foto{
   border-radius: px;
}


.tituloArticulo{
  background-color:#5d38c9;
  color: #ecc032;
  border-color:  #ecc032;
  border-radius: 10px;
  text-align: center;
}

.tituloArticulo2{
  background-color:#ecc032;
  color:#5d38c9;
  border-color:  #ecc032;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
}

.card{
  width: 20%;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;
    color: white;
}

/* ************************************************************************** Estilos del Header */

header{
  display:flex;
  padding: 5px;
  background-color: #333333;
  background-image: linear-gradient(90deg, #333333 0%, #0c1250 46%, #5d38c9 100%);
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 40px;
  border-bottom: 2px solid #ecc032 ;
}

nav a{
  color: #ecc032;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  display: inline-block;
}

.brand{
color: #ecc032;
}

.logo{
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 59px;
  margin: 0px;
  margin-left: 10px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

nav a:hover{
  background-color: #ecc032;
  border-radius: 15px;
  color: #0c1250;
}


/*************************************************************************** Estilos de la Bienvenida */

.bienvenido{
 position: absolute;
 width: 100%;
  top:150px;
  z-index: 1;
  color: whitesmoke;
  text-align:center;
  padding: 0%;
  background-color: rgba(22, 6, 95, 0.74);
  color: #fff;
}

.parrafoTitulo{
  font-weight: 200;
}

/**************************************************************************** Estilos de la Historia */

.historia{
display:flex;
align-items: top;
}

.parrafoHistoria{
margin-right: 5%;
width: 75%;
text-align: justify;
}


.hamburguesas{
  font-family:fantasy;
  transition: 1s ease;
}

.hamburguesas:hover{
  font-size: xx-large;
  background-color:#ecc032 ;
  border-bottom: 2px solid #ecc032;
  border-radius: 15px;
}

/*************************************************************************** Estilos del menú de platos */

.seccionMenu{
background-color:#4a5091 ;
border-radius: 20px;
}

.menu{
  display:flex;
  justify-content: space-evenly;
 
}

.card h3, h4{
  color: white;
}



.card1{
  background: #2847d4;
  border: 5px solid #120653;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}


.card2{
  background: #bb1414;
  border: 5px solid #7a0505;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}  


.card3{
  background: green;
  border: 5px solid rgb(6, 71, 6);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}  

.card4{
  background: rgb(48, 47, 47);
  border: 5px solid rgb(12, 12, 12);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}  

.card1:hover{
  background-image: url(../img/federation.png);
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

.card2:hover{
  background-image: url(../img/klingon.png);
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease; 
}

.card3:hover{
  background-image: url(../img/romulan.jfif);
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

.card4:hover{
  background-image: url(../img/borg.png);
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease; 
}

/*************************************************************************** Estilo de Pequeño Cadete */
.cajaKids{
  transition: 1s ease;
  height: 75%;
  width:75%;
 }

.cajaKids:hover{
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 1s ease;
}

.cardkids{
  width: 20%;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;
  color: white;
  
}

.menuKids{
  display: flex;
  justify-content: space-evenly;
  
}
.contenedorJuguetes{
height: 25%;
width: 25%;

}  
.juguetes{
object-fit: contain;
}

.fullwrap {
  position: relative; /* required for (c2) */
  max-width: 500px; /* optional */
}
 
.fullwrap img { width: 100%; }
 
.fullcap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
 
  position: absolute;
  top: 0; left: 0;
  text-align: center;
  padding-top: 30%;
  background-color: rgba(39, 18, 228, 0.7);
  color: #ecc032 ;
  font-size: xx-large ;
  border-radius: 90px;

}
 .fullcap {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}
.fullwrap:hover .fullcap {
  visibility: visible; opacity: 1;
}

/***************************************************************************  Estilos de Instalar APP */

.instalarApp{
  display:flex;
  align-items: center;
}
/***************************************************************************  Estilos de contacto*/

.contactInfo{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactInfo h3{
  color: #fe043c;
}
.contactInfo p{
  color: #251f56;
}


/***************************************************************************  Estilos de footer */


ul{
  list-style-position: inside;
  color: #251f56;
}

.sectionFooter{
  background: #8E3200;
  color: white;
  text-align: center;
  padding: 20px 0px;
}

footer{
  background: #FFEBC1;
  padding-top: 10px;
}